.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
  height: 70vh;
  margin-top: 15vh;
  border: 0.1rem black solid;
  border-radius: 4.5rem;
  background-color: #eef6fd;
}
.register__popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: var(--warn);
  gap: 20px;
}
.register__button {
  width: 80%;
  height: 3.8rem;
  font-size: 1.4rem;
}
.register__input {
  width: 80%;
  font-size: 1.4rem;
}
.register__error {
  font-size: 1rem;
  color: var(--warn);
}
