.dashboard__header {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}
#title {
  width: 100%;
  text-align: center;
}
.dashboard__wraper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}

.dashboard__content {
  border: 2px solid red;
  padding: 5px;
}
