.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
  height: 75vh;
  border: 0.1rem black solid;
  border-radius: 4.5rem;
}
.login__popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: var(--warn);
  gap: 20px;
}
.login__button {
  width: 80%;
  height: 3.8rem;
  font-size: 1.4rem;
}
.login__input {
  width: 80%;
  font-size: 1.4rem;
}
.login__error {
  font-size: 1rem;
  color: var(--warn);
}
